<footer id="sticky-footer" class="py-4 bg-success text-white-50">
    <div class="container d-flex justify-content-around">
        <small class="fs-5">Copyright &copy; Twitter App </small>
        <div>
            <small class="fs-5"> Created by : {{ copyright_name }}</small>
        </div>
        <div class="social-icons d-flex justify-content-around align-self-stretch">
            <a class="bi bi-github mx-3" href="https://github.com/kazamiskyress" target="_blank"></a>
            <a class="bi bi-linkedin mx-3" href="https://linkedin.com/in/prince-kumar-9556741b7" target="_blank"></a>
            <a class="bi bi-globe mx-3" href="https://kazamiskyress.github.io/my-portfolio" target="_blank"></a>
            <a class="bi bi-instagram mx-3" href="https://instagram.com/_oritz_2" target="_blank"></a>
            <a class="bi bi-whatsapp mx-3" href="https://wa.me/=+917055480137" target="_blank"></a>
        </div> 
    </div>
</footer>